*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
  width: 100%;
  margin: auto;
    /* border: 2px solid red; */
    margin-top: 1px;
    display: flex;
    justify-content: space-around;
    background-color: #fff3db;
}
   
#title{
  /* border: 2px solid blue; */
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  width: fit-content;

}



#d12{
  height: 700px;
  width: 100%;
  background-image: url("./image/back12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#d11{
  width: 45%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-around;
}
/* anchor tag */
a{
    list-style: none;
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

/* button */

  button {
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 140px;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
   }
   
   button div {
    transform: translateY(0px);
    width: 100%;
   }
   
   button,
   button div {
    transition: 0.6s cubic-bezier(.16,1,.3,1);
   }
   
   button div span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0.75em 1.125em;
   }
   
   button div:nth-child(1) {
    background-color: #1e90ff;
   }
   
   button div:nth-child(2) {
    background-color: #21dc62;
   }
   
   button:hover {
    box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
   }
   
   button:hover div {
    transform: translateY(-50px);
   }
   
   button p {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
   }
   
   button:active {
    transform: scale(0.95);
   }

   /* fotter */

   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


